@import "styles/colorSchema.scss";
@import "styles/typography/typography_Scheme.scss";

@mixin setSize($width, $height) {
  width: $width;
  min-width: $width;
  max-width: $width;
  height: $height;
  max-height: $height;
}

.TeamBuildingCard {
  text-align: center;
  align-items: center;
  &__des {
    text-align: center;
    font-size: $font_title_1;
    font-family: $NANUM-SQUARE_EXTRABOLD !important;
    color: $gray3;
    margin: 20% auto 8% auto;
    user-select: none;
    & p {
      margin-top: 20px;
      color: $gray3;
      font-size: $font_content_3;
    }
  }
  &__wrap {
    & ul {
      @include setSize(200px, 100px);
      display: inline-block;
      background-color: $main;
      color: $white;
      border-radius: 7px;
      margin: auto 8px 8px auto;
      font-size: $font_title_4;
      padding: 20px;
    }
  }
}
