// @import 'styles/colorSchema.scss';
// @import 'styles/typography/typography_Scheme.scss';

* {
  // font-family: $NANUM-SQUARE_REGULAR;
}

.PageTemplate {
  &__header {
    height: 50px;
    background-color: #f2f2f2;
    padding: auto;
  }
}
