@import 'styles/colorSchema.scss';
@import 'styles/typography/typography_Scheme.scss';

.RandomSeatsCard {
  &__base {
    width: 250px;
    height: 70px;
    color: $white;
    background-color: $gray4;
    border-radius: 5px;
    text-align: center;
    font-size: $font_title_4;
    padding-top: 20px;
    margin-top: 30%;
    margin-bottom: 25%;
  }
  &__seats {
  }
  &__list {
    list-style: none;
    display: inline-block;
    & div {
      width: 130px;
      height: 70px;
      color: $white;
      background-color: $main;
      border-radius: 5px;
      text-align: center;
      font-size: $font_title_4;
      padding-top: 20px;
    }
  }
}
