@import 'styles/colorSchema.scss';
@import 'styles/typography/typography_Scheme.scss';

.RandomSeats {
  &__left {
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    &-top {
      height: 150px;
      &-radio {
        text-align: center;
      }
    }
    &-bottom {
      & img {
        display: block;
        height: 400px;
      }
    }
  }
  &__right {
    float: right;
    margin-right: 8%;
    background-color: wheat;
    width: 880px;
  }
}
