@import 'styles/colorSchema.scss';
@import 'styles/typography/typography_Scheme.scss';

.RandomSeats {
  font-size: $font_content_3;
  &__left {
    float: left;
    margin-left: 15%;
    margin-top: 7%;
    &-top {
      height: 150px;
      &-des {
        text-align: center;
        font-size: $font_title_1;
        margin-bottom: 20px;
        & p {
          font-family: $NANUM-SQUARE_BOLD !important;
        }
      }
      &-radio {
        text-align: center;
      }
    }
    &-bottom {
      & img {
        display: block;
        height: 400px;
      }
    }
  }
  &__right {
    float: right;
    margin-right: 8%;
    // background-color: wheat;
    width: 880px;
  }
}
