@import 'styles/colorSchema.scss';
@import 'styles/typography/typography_Scheme.scss';

.Main {
  &__contentBox {
    &-left {
      float: left;
      margin-top: 15%;
      margin-left: 10%;
      width: 50vw;
      & ul {
        list-style: none;
        & li {
          float: left;
        }
      }
      & h1 {
        font-family: $NANUM-SQUARE_EXTRABOLD;
        font-size: 3rem;
        color: $black;
        margin-bottom: 15px;
      }
      & p {
        font-family: $NANUM-SQUARE_BOLD;
        font-size: $font_title_3;
        color: $gray3;
        margin-bottom: 20px;
      }
    }
    &-right {
      float: right;
      margin-right: 5%;
      margin-top: 10%;
      width: 30vw;
      // background-color: lightcoral;
      & img {
        height: 70vh;
      }
    }
  }
}
