$NANUM-SQUARE_URL: '../../assets/font/NanumSquare/NanumSquare';

@mixin font_face($name, $url) {
  font-family: $name;
  font-display: block; // 웹 폰트 로딩처리
  src: url($url + '.ttf');
  src: url($url + '.ttf?#iefix') format('truetype');
}

$NANUM-SQUARE_LIGHT: 'Nanum Square Light';
$NANUM-SQUARE_REGULAR: 'Nanum Square Regular';
$NANUM-SQUARE_BOLD: 'Nanum Square Bold';
$NANUM-SQUARE_EXTRABOLD: 'Nanum Square ExtraBold';

@font-face {
  @include font_face($NANUM-SQUARE_LIGHT, $NANUM-SQUARE_URL + 'L');
}
@font-face {
  @include font_face($NANUM-SQUARE_REGULAR, $NANUM-SQUARE_URL + 'R');
}
@font-face {
  @include font_face($NANUM-SQUARE_BOLD, $NANUM-SQUARE_URL + 'B');
}
@font-face {
  @include font_face($NANUM-SQUARE_EXTRABOLD, $NANUM-SQUARE_URL + 'EB');
}

/* js에서 font-size를 적용하려면 typography_scheme.js를
  import하여 작업하면 된다. 

  ex) import { typography } from 'styles/typography/typography_scheme.js';
      const { size } = typography;

      <div ... fontSize: size.s1 ></div>
*/

$font_content_1: 14px; // detail contents
$font_content_2: 16px; // content1
$font_content_3: 18px; // content2

$font_title_1: 19px; // title1
$font_title_2: 20px; // title2
$font_title_3: 22px; // title3
$font_title_4: 24px; // title4
$font_title_5: 32px; // title4
