@import 'styles/colorSchema.scss';
@import 'styles/typography/typography_Scheme.scss';

* {
  font-family: $NANUM-SQUARE_REGULAR;
}

.PageTemplate {
  &__header {
    color: $main;
    height: 55px;
  }
}
