@import 'styles/colorSchema.scss';
@import 'styles/typography/typography_Scheme.scss';

.CardSelectItem {
  text-align: center;
  &__des {
    margin: 10% auto 8% auto;
    font-family: $NANUM-SQUARE_EXTRABOLD !important;
  }
  &__card {
    padding-top: 15px;
    margin: 0px auto 95px auto;
    font-size: 3rem;
    color: $white;
    width: 210px;
    height: 350px;
    border-radius: 3px;
    transition: 0.4s;
    box-shadow: 0px 0px 20px rgba($color: $gray4, $alpha: 0.3);
    user-select: none;
    &-line {
      padding-top: 55%;
      margin: 0px auto 0px auto;
      border: 2.5px solid $white;
      border-radius: 10px;
      width: 180px;
      height: 320px;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0px 10px 45px rgba($color: $gray3, $alpha: 0.5);
    }
    &:active {
      // backface-visibility: hidden;
      transform: rotateY(180deg);
    }
    &-initial {
      @extend .CardSelectItem__card;
      background-color: $gray2;
    }
    &-active {
      @extend .CardSelectItem__card;
      background-color: $main;
    }
  }
}
